<div id="product_list">
	<div style="float: left;">		
		<%= link_to 'New Product', new_product_path%>
	</div>
	<div >
	<%= will_paginate @products%>			
	</div>	
	<div>
		<% if @products.blank?%> 
			<%= 'No record found' %>
		<%else%>
			<% @products.each do |p|%>
				<div class="unit_product">
					<div style="width: 110px;float: left;">
							<%= image_tag p.avatar.url(:small), :id => "cropbox" %> 
					</div>
					<div style="float: left;margin-bottom: 30px;"><%= p.name %><br><%=p.description%></div>
					<div style="float: right;"><%= link_to('Edit', edit_product_path(p))%><br />
						<%= link_to "Delete", product_path(p), :confirm => "Are you sure?", :method=>:delete %>
					</div>
				</div>
			<% end %>
		<% end %>
	
	</div>
	
</div>
